.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.writeSection {
  margin-top: 5%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
}

.diaryText {
  border-color: rgb(179, 171, 171);
  outline: none;
  width: inherit;
  padding-left: 10px;
  padding-top: 5px;
}

.titleBox {
  border: 2px solid;
  border-color: rgb(112, 112, 112);
  font-size: larger;
  outline: none;
  height: 1cm;
  width: inherit;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  /* font-family: var(--Oswald); */
}

.addBtn {
  border: none;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(86, 183, 7);
}

.addBtn:active {
  background-color: rgb(155, 244, 82);
}

.list {
  margin-top: 5%;
  margin-left: 5%;
  background-color: pink;
  height: min-content;
}
