.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 10%;
}

.appName {
  color: rgb(71, 10, 128);
  font-size: xx-large;
}

.description {
  font-style: italic;
  font-size: x-large;
  animation: show 3s 1s infinite linear;
}
.startBtn {
  background-color: rgb(31, 4, 54);
  color: white;
  margin-top: 5%;
  width: 8vw;
  height: 5vh;
  border: none;
  border-radius: 30px;
}
.startBtn:hover {
  cursor: pointer;
}
.startBtn:active {
  background-color: rgb(59, 7, 104);
}
